<div class="logo">
  <div style="
	margin: 0 0 5px; 
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: flex-end;">
		<img src="/static/backend/assets/img/logo-2.png" width=40/>
    <h3 style="
		display: inline; 
		margin: 0 0 0 -8px; 
		line-height: 22px; 
		font-family: 'Outfit', serif;
  	font-weight: 200;
  	font-style: normal;
		font-weight: 500;
		color: #1d1b1b;">
			<span style="
			font-family: 'Outfit', serif;
	  	font-weight: 500;
			color: #662038">u</span>
			<span style="
			font-family: 'Ubuntu', serif;
	  	font-weight: 500;
			margin-left: -6px;">Count</span>
		</h3>
	</div>
</div>