    {% if request.user.is_authenticated %}
		<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/backend/assets/img/sidebar-4.jpg">
			
      {% include 'backend/includes/logo.html' %}
			
      <div class="sidebar-wrapper">
        <ul class="nav">
        
					{% for item in mof %}
	          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
	            <a class="nav-link {{item.activitytype}}" href="{{baseStr}}/activity/{{item.activitytype}}">
	              <i class="material-icons">library_books</i>
	              <p>{{item.activitytypename}}</p>
	            </a>
	          </li>
					{% endfor %}

          <li class="nav-item active">
            <a class="nav-link"  href="{{baseStr}}/summary/">
              <i class="material-icons">content_paste</i>
              <p>Summary</p>
            </a>
          </li>          
						
        
        </ul>
      </div>
			
    </div>
		{% endif %}
