asgiref==3.7.2
diff-match-patch==20230430
Django==5.0.3
django-cors-headers==4.5.0
django-import-export==4.1.1
django-rest-knox==5.0.2
djangorestframework==3.15.2
PyMySQL==1.1.0
sqlparse==0.4.4
tablib==3.5.0
