.backarrow {
	color: #fff;
}
.nav-link.active {
	background: #c9c9c9;
}
.row.top {
margin-top: -30px;
}
.wide-panel {
width: 100% !important;
}
.sidebar .logo {
padding: 10px 0px
}
.sidebar .logo .simple-text {
text-transform: none;
font-size: 24px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: flex-end;
color: #0e0f0f;
}
.sidebar .nav li a {
text-transform: none;
}
.navbar-title-desc {
color: #d5bebe;
font-size: 1.125rem;
margin-left: -7px;
display: none;
}
.navbar.navbar-transparent {
background-color: #5c5cce !important;
}
.navbar .navbar-brand {
color: #fff;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
font-size: 18px;
text-transform: none;
color: #bbbbf6;
}
.navbar .collapse .navbar-nav .nav-item.dropdown {
border-left: 1px solid #6e6ed2;
}
.navbar .collapse .navbar-nav .nav-item .nav-link span {
font-weight: bold;
}
.navbar-toggler {
background-color: #fff;
}
.dropdown-menu .dropdown-item {
font-size: 17px;
font-weight: 300;
color: #5c5cce;
}
.dropdown-menu .dropdown-item span {
font-weight: normal;
color: #d78c87;
}
.dropdown-item .nav-button {
width: 100%;
border:0;
padding:0;
background:transparent;
color: #5c5cce;
cursor: pointer;
}
.dropdown-item .nav-button:hover {
color: #fff;
}
.dropdown-menu .dropdown-userinfo {
margin: 0 0.3125rem;
padding: 0 1.5rem;
}
.title .dropdown-divider:last-of-type {
display: none;
}
.sidebar[data-color="purple"] li.active > a {
background-color: #529021;
box-shadow: none;
}
.sidebar[data-color="purple"] li.active > a:hover {
background-color: #407a1b;
}
.row.profile h2 {
margin-top: 20px;
}
.main-panel > .footer {
border-top: 1px solid #bab9b9;
background-color: #141313;
}
.footer {
padding: 0;
color: #eee;
}
.card .card-header-summary:not(.card-header-icon):not(.card-header-text) {
box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(37 70 16 / 40%);
}
.card .card-header-summary:not(.card-header-icon):not(.card-header-text) {
background: linear-gradient(60deg, #529021, #407a1b);
}
.card-title a {
color: #9c27b0;
}
.card-title a:hover {
color: #ca65db;
}
.card-chart {
	text-align: center;
}
.index .card-stats .card-header.card-header-icon {
text-align: center;
margin: 5px 0;
}
.text-warning {
color: #1f4107 !important;
font-weight: bold !important;
}
.card-header-summary {
	display: flex;
	justify-content: space-between;
}
.dataTables_wrapper .col-md-6 {
flex: none;
max-width: none;
}
.dataTables_filter {
margin-bottom: 10px;
text-align: left;
}
.dataTables_filter label {
width: 200px;
}
.dataTables_info, .dataTables_paginate {
margin-top: 10px;
}
.table > tbody > tr > td {
padding: 12px 8px !important;
}
.dataTable > tbody > tr > td {
padding: 5px;
}
.table thead tr th {
font-weight: 400;
}
th.activity-head { width:300px}
th.total-head { width:200px; text-align: center; }
th.group-head { width:100px; text-align: center; line-height: 1rem; }
td.summary-item { text-align: center;}
.chart-row {
/*background: #fff;
margin-top: 30px*/
}
.chart-body {
overflow-x: auto; 
overflow-y: hidden; 
padding: 20px 0 30px 10px;
}
.chart {
width: 100%;
height: 220px;
margin: 0px auto;
padding: 0 10px 0 0;
}
.tooltip {
position: relative;
/*   top: 20px;
left: 20px; */
font-size: 1.3em;
width: 150px;
height: auto;
z-index: 1;
padding: 8px;
background-color: #ffffff;
/*   background: rgba(0, 0, 0, 0.3); */
opacity: 0.8;
border: 1px solid #cacaca;
border-radius: 3px;
box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
text-align: center;
pointer-events: none;
color: black;
transition: opacity .2s ease-out;
/*   transition: left .1s ease-out;
transition: top .1s ease-out; */
}

.tooltip.tooltip-hidden {
opacity: 0;
}
@media (min-width: 992px) {
.navbar-title-desc {
display: block;
}
}
@media only screen and (max-width: 760px) {
.chart {
width: 1000px;
}
}